/* Genral styling */
*, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Genral styling */


/* section styling */
#main-body, #our-choose, 
#testimonial, #partner {
    padding-top: 5%;
    padding-bottom: 5%;
}

.main-body-title, .choose-title, 
.testimony-title, .partner-title {
    padding-bottom: 3%;
}

#our-choose,  #partner {
    background: #F9F9F9;
}
/* section styling */



/* Navbar styling */

nav {
    width: 100%;
}

.navbar-brand span {
    display: block;
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    width: 70%;
    margin: 0;
    padding: 0;
}

.nav-link {
    margin-right: 25px;
}

.btn-primary {
    background: #55ACEE;
    border-color: #55ACEE;
}

.btn-primary:hover {
    background: #55ACEE;
    border-color: #55ACEE;
}
/* Navbar */

/* jumbotron */
.jumbotron {
    height: 100vh;
}

.jumbotron-container {
    margin-top: 20%;
}

.jumbotron h1{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
}

.search {
    margin: 10% auto 0 auto;
    padding: 0 auto 0 20px;
    background: #ffffff;
}
/* Jumbotron */


/* Properties feature style */
.card .d-flex p {
    width: 45%;
    margin-top: 2px;
}

.card-body{
    background: #f9f9f9;
}

.card p {
    font-size: .63rem;
    margin: 2px auto 5px auto;
}

.card hr {
    margin: 10px auto;
}

.card-btn {
    margin-top: 10px;
    margin-left: 150px;
}

/* Properties feature style */


/* choosen section */
.circle {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background: #ffffff;
    position: relative;
}

.outer, .middle, .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
    position: absolute;
    top: 30px;
    left: 13px;
}

.right {
    position: absolute;
    top: 30px;
    right: 13px;
}

.top{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upper {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fin-left {
    position: absolute;
    top: 25px;
    left: 20px;
}

.fin-right {
    position: absolute;
    top: 25px;
    right: 20px;
}

.fin-top{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fin-upper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* choosen section */

/* testimony */
.testimony-wrapper {
    background-color: #e8fffe;
    padding: 10px 15px;
    margin: 10px auto 10px 20px;
}
/* testimony */


/* footer */
footer {
    background: #55ACEE;
    color: #fff;
    padding:  5% 20px 15px 20px;
}

.list-unstyled li a {
    color: #ffffff;
}

.social-icon a i {
    color: #fff;
    font-size: 25px;
    padding: 10px;
}
/* footer */


/* Media Queries */

@media only screen and (max-width: 950px) {
    .jumbotron h1{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    .jumbotron h1{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .jumbotron {
        height: 50vh;
    }

    .jumbotron-container {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 500px) {

    .jumbotron-container {
        margin-top: 50%;
    }
}