@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
/*header*/
.header{
    height: 82px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
    background: transparent;
    position: fixed;
    z-index: 5;
    color: white;
    -webkit-transition: .3s background ease-out;
    transition: .3s background ease-out;
    background-color: #ffffff;
 
}
.sticky{
    position: fixed;
    margin: 0;
    width: 100%;
}

.header .logo{
    width: 50px;
    padding-left: 40px;
}
.header .nav-bar{
    padding-right: 45px;
    font-size: 16px;
}
.nav-bar .nav-items{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-items .items{
    padding-right: 15px;
    text-decoration: none;
    color: #000000;
    
}
.nav-items .items.button{
    background: #55acee;
    border-radius: 5px;
    color: #ffffff;
    width: 141px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
   
}

/*Background Image*/
.bg{
    background: url(./images/landing-img.png) center center/cover no-repeat;
    height: 98vh;
    position: relative;
}
/*Image Nav*/
.img-nav{
    bottom: 0px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #222222;
    font-size: 48px;
}
.container-sm{
    background-color: blueviolet;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: left;
    
}
.col-sm-5{
    margin-top: 5%;
    margin-left: 4%; 
    margin-right: 4%;

}
.thumbnail p{
    text-align: left;
   
}
.thumbnail{
    background: violet;
    width: 450px;
    height: 520px;
}


