body{
    margin: 0;
}
.navbar{
    float: left;
    background-color: aqua;
    width: 100%;
}
.logo{
    float: left;
    padding-left: 45px;
    padding-top: 14px;
    padding-bottom: 7px;
}
ul{
    background-color: bisque;
}
li{
    list-style-type: none;
    float: left;
    font-size: 16px;
    padding-right: 40px;
    background-color: bisque;
}
.nav-item{
    padding-top: 29px;
    padding-bottom: 29px;
}